In [1]:
import warnings

import joblib
import numpy as np
import pandas as pd
from catboost import CatBoostRegressor
from tqdm import tqdm

warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", None)

In [2]:
path = "./data/preprocessing"

visit_area_info = pd.read_csv("./data/preprocessing/visit_area_info.csv")
travel = pd.read_csv("./data/preprocessing/travel.csv")
traveller_master = pd.read_csv("./data/preprocessing/traveller_master.csv")

In [3]:
def visit_area_information(visit_area_info):
    """방문지 중 유의미한 정보만 추출(1~8까지는 관광지, 나머지는 무의미한 정보)"""
    valid_types = range(1, 9)
    visit_area_info = visit_area_info[visit_area_info["VISIT_AREA_TYPE_CD"].isin(valid_types)]
    visit_area_info = visit_area_info.dropna(subset=["LOTNO_ADDR"])
    visit_area_info = visit_area_info.reset_index(drop=True)
    return visit_area_info

visit_area_spot_info= visit_area_information(visit_area_info)

In [4]:
def address_info(visit_area_info):
    """주소에서 시도와 군구 추출"""
    sido = []
    gungu = []
    for i in range(len(visit_area_info['LOTNO_ADDR'])):
        sido.append(visit_area_info['LOTNO_ADDR'][i].split(' ')[0])
        gungu.append(visit_area_info['LOTNO_ADDR'][i].split(' ')[1])
    return sido, gungu

sido, gungu = address_info(visit_area_spot_info)

visit_area_spot_info['SIDO'] = sido
visit_area_spot_info['GUNGU'] = gungu

busan_spot_info = visit_area_spot_info[visit_area_spot_info['SIDO'] == "부산"]

In [5]:
"""
유의미한 변수만 추출
여행ID 방문지명 시도 군구 방문지유형코드 만족도 재방문의향 추천의향 체류시간(분) 재방문여부"
"""
busan_spot_info = busan_spot_info[['TRAVEL_ID', 'VISIT_AREA_NM', 'SIDO', 'GUNGU', 'VISIT_AREA_TYPE_CD', 'DGSTFN',
                                  'REVISIT_INTENTION', 'RCMDTN_INTENTION', 'RESIDENCE_TIME_MIN', 'REVISIT_YN']].reset_index(drop=True)

In [7]:
def mission_check(travel):
    travel_list = []
    for i in range(len(travel)):
        value = int(travel['TRAVEL_MISSION_CHECK'][i].split(';')[0])
        travel_list.append(value)
    return travel_list


travel['TRAVEL_MISSION_PRIORITY'] = mission_check(travel)
travel = travel[['TRAVEL_ID', 'TRAVELER_ID', 'TRAVEL_MISSION_PRIORITY', 'MVMN_NM']]

In [8]:
travel_style_columns = ['TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3', 'TRAVEL_STYL_4', 
                        'TRAVEL_STYL_5', 'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8']


traveller_master['TRAVEL_STYL'] = traveller_master[travel_style_columns].mode(axis=1)[0]


traveller_master = traveller_master[['TRAVELER_ID', 'GENDER', 'AGE_GRP', 'INCOME', 'TRAVEL_STYL', 
                                      'TRAVEL_MOTIVE_1', 'TRAVEL_NUM', 'TRAVEL_COMPANIONS_NUM' ]]

In [9]:
"""Age Group 40대 이상은 40으로 변경"""
traveller_master['AGE_GRP'] = traveller_master['AGE_GRP'].apply(lambda x: 40 if x >= 40 else x)

In [10]:
"""busan spot info와 traveller_master, travel merge Result: 부산에 여행온 사람들의 정보"""
df = pd.merge(travel, traveller_master, left_on = 'TRAVELER_ID', right_on = 'TRAVELER_ID', how = 'inner')
df = pd.merge(busan_spot_info, df, left_on = 'TRAVEL_ID', right_on = 'TRAVEL_ID', how = 'left')

In [11]:
"""Preprocessing"""

df["RESIDENCE_TIME_MIN"] = df["RESIDENCE_TIME_MIN"].replace(0, df["RESIDENCE_TIME_MIN"].median())

df['REVISIT_YN'] = df['REVISIT_YN'].replace("N",0)
df['REVISIT_YN'] = df['REVISIT_YN'].replace("Y",1)

df = df.dropna(subset = ['TRAVEL_STYL'])
df = df.reset_index(drop= True)
df = df.dropna(subset = ['TRAVEL_MOTIVE_1'])
df = df.reset_index(drop= True)

In [ ]:
캠핑 삭제
스파/온천/성수 준비 삭제
반려동물 동반 여행 삭제
친환경 여행 삭제
동반 여행 삭제 or 동반자 수를 질문리스트에서 앞쪽으로 빼고 1명(혼자) 여행 시에는 해당 테마를 선택 하지 않거나 아예 안보였으면 좋겠는데 그럴 바에는 그냥 삭제하는 게 낫지 않나 싶긴합니다 ~ (이 부분은 기능 단위 보시고 알려주세요)

In [27]:
df[df['TRAVEL_MISSION_PRIORITY'] == 8] # 5
df[df['TRAVEL_MISSION_PRIORITY'] == 10] # 35
df[df['TRAVEL_MISSION_PRIORITY'] == 25] # 10
df[df['TRAVEL_MISSION_PRIORITY'] == 27] # 36
# df[df['TRAVEL_MISSION_PRIORITY'] == 28] # 20

,TRAVEL_ID,VISIT_AREA_NM,SIDO,GUNGU,VISIT_AREA_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,RESIDENCE_TIME_MIN,REVISIT_YN,TRAVELER_ID,TRAVEL_MISSION_PRIORITY,MVMN_NM,GENDER,AGE_GRP,INCOME,TRAVEL_STYL,TRAVEL_MOTIVE_1,TRAVEL_NUM,TRAVEL_COMPANIONS_NUM
56,b_b015439,부산시민공원,부산,부산진구,1,4.0,5.0,5.0,90.0,0.0,b015439,27.0,대중교통 등,남,20.0,1.0,4.0,1.0,1.0,1.0
68,b_b015439,흰여울문화마을,부산,영도구,7,4.0,4.0,4.0,30.0,0.0,b015439,27.0,대중교통 등,남,20.0,1.0,4.0,1.0,1.0,1.0
360,b_b000798,부산시민공원,부산,부산진구,1,5.0,5.0,5.0,30.0,1.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
510,b_b000153,송정해수욕장,부산,해운대구,1,5.0,5.0,5.0,30.0,1.0,b000153,27.0,대중교통 등,남,20.0,2.0,4.0,7.0,3.0,2.0
529,b_b000798,해운대블루라인,부산,해운대구,5,3.0,3.0,3.0,60.0,0.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
559,b_b000798,흰여울문화마을,부산,영도구,7,5.0,5.0,5.0,60.0,0.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
586,b_b006597,동래복천동고분군,부산,동래구,1,4.0,4.0,4.0,60.0,0.0,b006597,27.0,NaN,남,20.0,2.0,2.0,3.0,1.0,1.0
614,b_b006156,해운대블루라인파크 송정정거장,부산,해운대구,7,5.0,5.0,2.0,60.0,1.0,b006156,27.0,대중교통 등,여,20.0,3.0,2.0,2.0,1.0,1.0
616,b_b006597,온천천,부산,금정구,7,5.0,5.0,5.0,30.0,1.0,b006597,27.0,NaN,남,20.0,2.0,2.0,3.0,1.0,1.0
724,b_b000798,오아사헤어,부산,부산진구,4,4.0,4.0,4.0,210.0,1.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
840,b_b015439,이마트트레이더스 서면점,부산,부산진구,4,4.0,4.0,4.0,60.0,0.0,b015439,27.0,대중교통 등,남,20.0,1.0,4.0,1.0,1.0,1.0
889,b_b000798,일광당,부산,기장군,4,3.0,3.0,3.0,30.0,0.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
933,b_b006597,온천천카페거리,부산,동래구,4,5.0,5.0,5.0,90.0,1.0,b006597,27.0,NaN,남,20.0,2.0,2.0,3.0,1.0,1.0
955,b_b015439,롯데백화점 광복점,부산,중구,4,4.0,4.0,4.0,90.0,1.0,b015439,27.0,대중교통 등,남,20.0,1.0,4.0,1.0,1.0,1.0
990,b_b000798,부산어린이대공원,부산,부산진구,1,5.0,5.0,5.0,90.0,1.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
1357,b_b000798,벡스코,부산,해운대구,8,3.0,4.0,4.0,120.0,0.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
1621,f_f000798,갈맷길 9코스 1구간 종점인 증대,부산,기장군,7,5.0,5.0,5.0,270.0,0.0,f000798,27.0,대중교통 등,남,40.0,5.0,2.0,7.0,2.0,0.0
1622,f_f000798,갈맷길 5코스 3구간,부산,강서구,7,4.0,4.0,5.0,300.0,0.0,f000798,27.0,대중교통 등,남,40.0,5.0,2.0,7.0,2.0,0.0
1623,f_f000798,용두산공원,부산,중구,8,4.0,3.0,3.0,120.0,1.0,f000798,27.0,대중교통 등,남,40.0,5.0,2.0,7.0,2.0,0.0
1831,f_f001271,광안리해수욕장,부산,수영구,1,5.0,5.0,5.0,240.0,1.0,f001271,27.0,대중교통 등,여,20.0,4.0,1.0,2.0,1.0,2.0
1832,f_f001271,오브젝트 에디트,부산,부산진구,4,3.0,3.0,3.0,90.0,0.0,f001271,27.0,대중교통 등,여,20.0,4.0,1.0,2.0,1.0,2.0
2079,f_f003581,죽성 드림세트장,부산,기장군,2,4.0,4.0,4.0,30.0,0.0,f003581,27.0,자가용,여,40.0,4.0,1.0,1.0,2.0,1.0
2697,f_f012450,이 프리오,부산,강서구,4,4.0,4.0,4.0,60.0,0.0,f012450,27.0,대중교통 등,남,30.0,4.0,3.0,1.0,2.0,1.0
2698,f_f012450,맥도 생태공원,부산,강서구,7,4.0,4.0,4.0,120.0,0.0,f012450,27.0,대중교통 등,남,30.0,4.0,3.0,1.0,2.0,1.0
2699,f_f012450,다대포해수욕장,부산,사하구,1,4.0,4.0,4.0,120.0,0.0,f012450,27.0,대중교통 등,남,30.0,4.0,3.0,1.0,2.0,1.0
2787,f_f013692,광안리해수욕장,부산,수영구,1,4.0,5.0,5.0,150.0,0.0,f013692,27.0,대중교통 등,남,20.0,3.0,2.0,1.0,3.0,0.0
2788,f_f013692,전포 카페거리,부산,부산진구,4,5.0,5.0,5.0,150.0,1.0,f013692,27.0,대중교통 등,남,20.0,3.0,2.0,1.0,3.0,0.0
2983,b_b000153,흰여울문화마을,부산,영도구,7,5.0,5.0,5.0,30.0,1.0,b000153,27.0,대중교통 등,남,20.0,2.0,4.0,7.0,3.0,2.0
3040,b_b000153,해운대블루라인파크 미포정거장,부산,해운대구,6,5.0,5.0,5.0,30.0,1.0,b000153,27.0,대중교통 등,남,20.0,2.0,4.0,7.0,3.0,2.0
3052,b_b000798,화지문화회관,부산,부산진구,2,5.0,5.0,5.0,90.0,0.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
3129,b_b000153,광안리해수욕장,부산,수영구,1,5.0,5.0,5.0,120.0,1.0,b000153,27.0,대중교통 등,남,20.0,2.0,4.0,7.0,3.0,2.0
3141,b_b000798,해동용궁사,부산,기장군,2,4.0,4.0,5.0,90.0,1.0,b000798,27.0,대중교통 등,여,30.0,5.0,1.0,1.0,5.0,1.0
3228,f_f003832,광안리 해변 테마거리,부산,수영구,4,4.0,3.0,3.0,30.0,0.0,f003832,27.0,대중교통 등,여,20.0,1.0,7.0,1.0,1.0,0.0
3229,f_f003832,광안리해수욕장,부산,수영구,1,5.0,5.0,5.0,30.0,0.0,f003832,27.0,대중교통 등,여,20.0,1.0,7.0,1.0,1.0,0.0
3230,f_f003832,밀란 더 마켓,부산,수영구,4,5.0,5.0,5.0,30.0,0.0,f003832,27.0,대중교통 등,여,20.0,1.0,7.0,1.0,1.0,0.0
3231,f_f003832,민락수변공원,부산,수영구,1,5.0,5.0,5.0,60.0,0.0,f003832,27.0,대중교통 등,여,20.0,1.0,7.0,1.0,1.0,0.0

In [114]:
"""특정 관광지에 방문한 사람들 중 랜덤으로 한 명을 선택하여 그 사람의 모든 여행 데이터를 새로운 데이터프레임 train_df에 추가합니다"""
df_copy = df.copy()
train_df = pd.DataFrame(columns=df.columns)  

for area in tqdm(df['VISIT_AREA_NM'].unique()):
    area_visitors_df = df_copy[df_copy['VISIT_AREA_NM'] == area]  # 특정 관광지에 방문한 모든 사람의 데이터를 추출
    
    np.random.seed(42)  # 랜덤 시드 설정
    if area_visitors_df.empty:  # 만약 해당 관광지에 방문한 사람이 없으면
        continue  # 아무 작업도 하지 않고 다음 반복으로 넘어감
    
    random_idx = np.random.randint(len(area_visitors_df))  # 해당 관광지에 방문한 사람 중 랜덤으로 한 명의 인덱스를 생성
    random_visitor_df = area_visitors_df.iloc[[random_idx]]  # 랜덤으로 선택된 사람의 데이터 추출
    travel_id = random_visitor_df.iloc[0, 0]  # 해당 사람의 'TRAVEL_ID' 값을 추출
    
    visitor_trips_df = df_copy[df_copy['TRAVEL_ID'] == travel_id]  # 선택된 사람의 모든 여행 데이터를 추출
    
    df_copy = pd.merge(visitor_trips_df, df_copy, how='outer', indicator=True)  # 원본 데이터프레임과 선택된 사람의 데이터를 병합, 병합 결과를 표시
    df_copy = df_copy.query('_merge == "right_only"').drop(columns=['_merge'])  # 원본 데이터프레임에서 선택된 사람의 데이터를 삭제
    
    train_df = train_df.append(visitor_trips_df, ignore_index=True)  # 선택된 사람의 데이터를 train_df 데이터프레임에 추가

100%|██████████| 908/908 [00:06<00:00, 142.99it/s]

In [115]:
while len(df_copy) / len(df) > 0.2:
    np.random.seed(42)  # 랜덤 시드 설정
    random_idx = np.random.randint(len(df_copy))  # 랜덤 인덱스 생성
    random_visitor = df_copy.iloc[[random_idx]]  # 랜덤으로 선택된 사람의 데이터 추출
    travel_id = random_visitor.iloc[0, 0]  # 해당 사람의 'TRAVEL_ID' 값 추출
    visitor_trips = df_copy[df_copy['TRAVEL_ID'] == travel_id]  # 선택된 사람의 모든 여행 데이터 추출
    
    df_copy = pd.merge(visitor_trips, df_copy, how='outer', indicator=True)  # 원본 데이터프레임과 선택된 사람의 데이터를 병합, 병합 결과를 표시
    df_copy = df_copy.query('_merge == "right_only"').drop(columns=['_merge'])  # 원본 데이터프레임에서 선택된 사람의 데이터를 삭제
    
    train_df = train_df.append(visitor_trips, ignore_index=True)  # 선택된 사람의 데이터를 train_df 데이터프레임에 추가

In [116]:
new_train = pd.DataFrame(columns = list(train_df.columns) + ['RESIDENCE_TIME_MIN_mean', 'RCMDTN_INTENTION_mean',
                                                          'REVISIT_YN_mean', 'TRAVEL_COMPANIONS_NUM_mean',
                                                          'REVISIT_INTENTION_mean'])


for i in tqdm(list(train_df['VISIT_AREA_NM'].unique())): #유니크한 관광지 목록 중에서
    df2 = train_df[train_df['VISIT_AREA_NM'] == i] # 특정 관광지에 간 모든 사람 뽑아서
    for j in ['RESIDENCE_TIME_MIN', 'RCMDTN_INTENTION', 'REVISIT_YN', 'TRAVEL_COMPANIONS_NUM', 'REVISIT_INTENTION']:
        #체류시간 평균 산출 
        globals()[str(j)+'_mean'] = df2[str(j)]
        globals()[str(j)+'_mean'] = np.mean(globals()[str(j)+'_mean'])
        #데이터프레임에 들어가게 값을 리스트 형태로 변환
        globals()[str(j)+'_mean'] = np.repeat(globals()[str(j)+'_mean'], len(df2)) 
        df2[str(j)+'_mean'] = globals()[str(j)+'_mean']
    #새로운 데이터프레임에 방문지별 평균값 대입
    new_train = pd.concat([new_train, df2], axis = 0)
    
new_train.sort_values(by = ['TRAVEL_ID'], axis = 0, inplace = True)

100%|██████████| 908/908 [00:01<00:00, 721.48it/s]

In [117]:
path = r"C:\workspace\Ko-Swipe-ML\data\preprocessing"
new_train.to_csv(path + '/관광지 추천시스템 Trainset_B.csv', index = False)
df_copy.to_csv(path + '/관광지 추천시스템 Testset_B.csv', index = False)

In [118]:
Train = pd.read_csv(path + '/관광지 추천시스템 Trainset_B.csv')
test = pd.read_csv(path + '/관광지 추천시스템 Testset_B.csv')

Train.dropna(inplace = True)
Train.reset_index(inplace = True, drop = True )

test.dropna(inplace = True)
test.reset_index(inplace = True, drop = True )

print(Train.shape)
print(test.shape)

(2473, 25)
(583, 20)

In [119]:
"""5번 이상 방문한 곳으로만 필터링"""
Train.reset_index(drop = True, inplace= True)

count = pd.DataFrame(Train['VISIT_AREA_NM'].value_counts())
count['places'] = count.index
five_places = list(count[count['VISIT_AREA_NM']>=5]['places']) 
for i in range(len(Train)):
    if Train['VISIT_AREA_NM'][i] not in five_places:
        Train = Train.drop([i], axis = 0)
Train.reset_index(drop = True, inplace = True)

In [120]:
count_visit5 = pd.DataFrame(Train['VISIT_AREA_NM'].value_counts())
count_visit5.groupby(['VISIT_AREA_NM'])['VISIT_AREA_NM'].count()
count_visit5

                  VISIT_AREA_NM
광안리해수욕장                     202
해운대해수욕장                     177
해동용궁사                        57
흰여울문화마을                      46
송정해수욕장                       40
...                         ...
BIFF거리                        5
서면젊음의거리                       5
뮤지엄원                          5
송도해상케이블카 송도스카이파크              5
부산 아시아드 주경기장                  5

[83 rows x 1 columns]

In [121]:
"""Drop Features"""
Train.drop(['TRAVELER_ID', 'REVISIT_INTENTION', 'RCMDTN_INTENTION','RESIDENCE_TIME_MIN', 'REVISIT_YN'], axis = 1, inplace = True)
test.drop(['TRAVELER_ID', 'REVISIT_INTENTION', 'RCMDTN_INTENTION','RESIDENCE_TIME_MIN', 'REVISIT_YN'], axis = 1, inplace = True)

In [122]:
"""Change dtype"""
Train['VISIT_AREA_TYPE_CD'] = Train['VISIT_AREA_TYPE_CD'].astype('string')
test['VISIT_AREA_TYPE_CD'] = test['VISIT_AREA_TYPE_CD'].astype('string')

In [123]:
x_train = Train.drop(['DGSTFN', 'TRAVEL_ID'], axis = 1)
y_train = Train['DGSTFN']

In [124]:
category_features = ["VISIT_AREA_NM", "SIDO", "GUNGU", "VISIT_AREA_TYPE_CD", "TRAVEL_MISSION_PRIORITY", "AGE_GRP", "GENDER", "MVMN_NM"]

In [125]:
x_train['TRAVEL_MISSION_PRIORITY'] = x_train['TRAVEL_MISSION_PRIORITY'].astype('int')
x_train['AGE_GRP'] = x_train['AGE_GRP'].astype('int')

In [84]:
model = CatBoostRegressor(cat_features=category_features, random_state=42, task_type="GPU", verbose=100)
model.fit(x_train, y_train)

Learning rate set to 0.042412
0:	learn: 0.7992393	total: 14.1ms	remaining: 14s
100:	learn: 0.7197205	total: 1.56s	remaining: 13.9s
200:	learn: 0.6930363	total: 3.08s	remaining: 12.3s
300:	learn: 0.6656065	total: 4.64s	remaining: 10.8s
400:	learn: 0.6485376	total: 6.16s	remaining: 9.19s
500:	learn: 0.6286665	total: 7.74s	remaining: 7.71s
600:	learn: 0.6108184	total: 9.3s	remaining: 6.18s
700:	learn: 0.5998046	total: 10.8s	remaining: 4.63s
800:	learn: 0.5937424	total: 12.2s	remaining: 3.03s
900:	learn: 0.5892448	total: 13.7s	remaining: 1.5s
999:	learn: 0.5841803	total: 15.1s	remaining: 0us

In [85]:
joblib.dump(model, path + '/catboost_model_B.pkl')

['C:\\workspace\\Ko-Swipe-ML\\data\\preprocessing/catboost_model_B.pkl']

In [86]:
path = r"C:\workspace\Ko-Swipe-ML\data\preprocessing"

modelb = joblib.load(path + '/catboost_model_B.pkl')
testb = pd.read_csv(path + '/관광지 추천시스템 Testset_B.csv')
trainb = pd.read_csv(path + '/관광지 추천시스템 Trainset_B.csv')

In [87]:
X_testb = testb.drop(['DGSTFN'], axis = 1)
y_testb = testb['DGSTFN']

In [88]:
# 유저정보
user_info = testb[
    [
        "TRAVEL_ID",
        "SIDO",
        "GUNGU",
        "TRAVEL_MISSION_PRIORITY",
        "MVMN_NM",
        "GENDER",
        "AGE_GRP",
        "INCOME",
        "TRAVEL_STYL",
        "TRAVEL_MOTIVE_1",
        "TRAVEL_NUM",
        "TRAVEL_COMPANIONS_NUM",
    ]
]

In [89]:
new_user_info = pd.DataFrame(columns=['TRAVEL_ID', 'TRAVEL_MISSION_PRIORITY', "MVMN_NM", 'GENDER', 'AGE_GRP', 'INCOME',
                            'TRAVEL_STYL','TRAVEL_MOTIVE_1', 'TRAVEL_NUM', 'TRAVEL_COMPANIONS_NUM', 'sido_gungu_list'])

for i in tqdm(list(user_info['TRAVEL_ID'].unique())):
    user_info_filtered = user_info[user_info['TRAVEL_ID'] == i]
    userLocations = user_info_filtered[['SIDO', 'GUNGU']] #각 유저별 방문한 시군구 확인
    userLocations.reset_index(drop = True, inplace = True)
    sido_gungu_visit = []
    for j in range(len(userLocations)):
        sido_gungu_visit.append(userLocations['SIDO'][j] + '+' + userLocations['GUNGU'][j])
    sido_gungu_list = list(set(sido_gungu_visit))
    new = user_info_filtered.drop(['SIDO', 'GUNGU'], axis = 1) #기존 시도, 군구 제외하고
    new = new.head(1)
    new['sido_gungu_list'] = str(sido_gungu_list)
    new_user_info = pd.concat([new_user_info, new], axis = 0) #새로운 데이터프레임 생성

100%|██████████| 287/287 [00:00<00:00, 1142.70it/s]

In [90]:
new_user_info.reset_index(drop = True, inplace = True)
new_user_info.to_csv(path + '/관광지 추천시스템 Testset_B- 유저 정보.csv', index=False)

In [91]:
#여행지 정보
info = trainb[['SIDO', 'VISIT_AREA_NM', 'GUNGU','VISIT_AREA_TYPE_CD','RESIDENCE_TIME_MIN_mean', 'RCMDTN_INTENTION_mean',
            'REVISIT_YN_mean', 'TRAVEL_COMPANIONS_NUM_mean', 'REVISIT_INTENTION_mean']]
info.drop_duplicates(['VISIT_AREA_NM'], inplace = True)

In [92]:
###### 2회 이상 관광한 방문지 리스트 생성
visiting_list = trainb[['VISIT_AREA_NM']] #train set에 있는 방문지에 대해서만 2회 이상 방문하였는지 확인
visiting_list.reset_index(drop = True, inplace = True)
#데이터 전처리
visit_count_df = pd.DataFrame(visiting_list.value_counts(), columns = ['count'])
visit_count_df['VISIT_AREA_NM'] = visit_count_df.index
visit_count_df.reset_index(drop = True, inplace = True)
for i in range(len(visit_count_df)):
    visit_count_df['VISIT_AREA_NM'][i] = str(visit_count_df['VISIT_AREA_NM'][i])
    visit_count_df['VISIT_AREA_NM'][i] = visit_count_df['VISIT_AREA_NM'][i].replace("(","").replace(")","").replace(",","").replace("\''","")
    visit_count_df['VISIT_AREA_NM'][i] = visit_count_df['VISIT_AREA_NM'][i][1:-1]
#5회 이상 적용
visit_count_df = visit_count_df[visit_count_df['count'] >= 5]  
visit_list = list(visit_count_df['VISIT_AREA_NM']) #visit_list에 5회 이상 방문지 리스트

In [93]:
#방문지가 5회 이상 방문한 관광지 아니면 제거
info.reset_index(drop = True, inplace = True)
for i in tqdm(range(len(info))):
    if info['VISIT_AREA_NM'][i] not in visit_list:
        info = info.drop([i], axis = 0)
info.reset_index(drop = True, inplace = True)

100%|██████████| 908/908 [00:00<00:00, 9110.29it/s]

In [94]:
#여행자 정보 저장
info.reset_index(drop = True, inplace = True)
info.to_csv(path + '/관광지 추천시스템 Testset_B- 여행지 정보.csv', index=False)

In [95]:
user_info = pd.read_csv(path + '/관광지 추천시스템 Testset_B- 유저 정보.csv')
info = pd.read_csv(path + '/관광지 추천시스템 Testset_B- 여행지 정보.csv')

In [96]:
new_user_info['TRAVEL_MISSION_PRIORITY'] = new_user_info['TRAVEL_MISSION_PRIORITY'].astype('int')
new_user_info['AGE_GRP'] = new_user_info['AGE_GRP'].astype('int')

In [97]:
test_data = pd.DataFrame(user_info.iloc[7]).T

test_data.drop(['TRAVEL_ID'], axis = 1, inplace = True)

test_data

,TRAVEL_MISSION_PRIORITY,MVMN_NM,GENDER,AGE_GRP,INCOME,TRAVEL_STYL,TRAVEL_MOTIVE_1,TRAVEL_NUM,TRAVEL_COMPANIONS_NUM,sido_gungu_list
7,2.0,자가용,여,30.0,5.0,3.0,1.0,2.0,2.0,"['부산+중구', '부산+해운대구']"

In [142]:
user_info['TRAVEL_COMPANIONS_NUM'].value_counts()

1.0     151
0.0      62
2.0      40
3.0      25
5.0       4
4.0       3
10.0      1
8.0       1
Name: TRAVEL_COMPANIONS_NUM, dtype: int64

In [102]:
import pandas as pd

# Define column lists
final_columns = [
    "VISIT_AREA_NM", "SIDO", "GUNGU", "VISIT_AREA_TYPE_CD", "TRAVEL_MISSION_PRIORITY", "MVMN_NM", "GENDER", "AGE_GRP", "INCOME",
    "TRAVEL_STYL", "TRAVEL_MOTIVE_1", "TRAVEL_NUM", "TRAVEL_COMPANIONS_NUM", 
    "RESIDENCE_TIME_MIN_mean", "RCMDTN_INTENTION_mean", "REVISIT_YN_mean", "TRAVEL_COMPANIONS_NUM_mean", 
    "REVISIT_INTENTION_mean"
]

user_columns = [
    "SIDO", "TRAVEL_MISSION_PRIORITY", "MVMN_NM", "GENDER", "AGE_GRP", "INCOME", "TRAVEL_STYL",
    "TRAVEL_MOTIVE_1", "TRAVEL_NUM", "TRAVEL_COMPANIONS_NUM"
]

features = final_columns

def convert_float_to_int(df):
    float_cols = df.select_dtypes(include=['float']).columns
    
    for col in float_cols:
        df[col] = df[col].astype(int)
    
    return df

def preprocess_places_list(places_list_str):
    """
    Preprocesses the places list string into a list of places.

    Parameters:
    places_list_str (str): String representation of the places list.

    Returns:
    list: A list of places.
    """
    places_list = places_list_str.replace("[", "").replace("]", "").replace("'", "").replace(", ", ",")
    return list(map(str, places_list.split(",")))

def generate_final_df(info, new_user_info, places_list):
    """
    Generates the final DataFrame based on user information and places list.

    Parameters:
    info (DataFrame): DataFrame containing area information.
    new_user_info (DataFrame): DataFrame containing new user information.
    places_list (list): List of places.

    Returns:
    DataFrame: The final DataFrame containing combined user and area information.
    """
    final_df = pd.DataFrame(columns=final_columns)
    
    for place in places_list:
        sido, gungu = map(str, place.split("+"))
        info_df = info[(info["SIDO"] == sido) & (info["GUNGU"] == gungu)].drop(["SIDO"], axis=1).reset_index(drop=True)
        user_data = new_user_info.drop(["sido_gungu_list"], axis=1).values.tolist()[0]
        user_data = [sido] + user_data
        user_df = pd.DataFrame([user_data] * len(info_df), columns=user_columns)
        df = pd.concat([user_df, info_df], axis=1)[features]
        df["VISIT_AREA_TYPE_CD"] = df["VISIT_AREA_TYPE_CD"].astype("string")
        final_df = pd.concat([final_df, df], axis=0)
        
    final_df.reset_index(drop=True, inplace=True)
    final_df.drop_duplicates(["VISIT_AREA_NM"], inplace=True)
    return final_df

def recommend_places(model, final_df):
    """
    Recommends places based on the model's predictions.

    Parameters:
    model: The predictive model.
    final_df (DataFrame): The final DataFrame containing combined user and area information.

    Returns:
    list: List of recommended places.
    """
    final_df = convert_float_to_int(final_df)
    y_pred = model.predict(final_df)
    y_pred_df = pd.DataFrame(y_pred, columns=["y_pred"])
    sorted_df = pd.concat([final_df, y_pred_df], axis=1).sort_values(by="y_pred", ascending=False).iloc[:10]
    return list(sorted_df["VISIT_AREA_NM"])


def generate_user_info_df(final_df):
    """
    Generates a DataFrame containing user information.

    Parameters:
    final_df (DataFrame): The final DataFrame containing combined user and area information.

    Returns:
    DataFrame: DataFrame containing user information.
    """
    return final_df[user_columns]

def main(info, new_user_info, model):
    """
    Main function to generate recommendations and user information.

    Parameters:
    info (DataFrame): DataFrame containing area information.
    new_user_info (DataFrame): DataFrame containing new user information.
    model: The predictive model.

    Returns:
    list: A list containing user information and recommended places.
    """
    result = []
    places_list_str = new_user_info["sido_gungu_list"].values[0]
    places_list = preprocess_places_list(places_list_str)
    final_df = generate_final_df(info, new_user_info, places_list)
    
    visiting_candidates = recommend_places(model, final_df)
    user_info_df = generate_user_info_df(final_df)
    
    if len(user_info_df) == 0:
        result.append([])
    else:
        rec = user_info_df.iloc[0].to_list()
        rec.append(visiting_candidates)
        result.append(rec)
    
    return result

#Example usage:
result = main(info, test_data, modelb)
print(result)

[['부산', 2, '자가용', '여', 30, 5, 3, 1, 2, 2, ['신세계 센텀시티몰', '부산시립미술관', 'BIFF광장', '롯데백화점 광복점', '롯데백화점 센텀시티점', '청사포 다릿돌 전망대', '신세계백화점 센텀시티점', '부평깡통시장', '벡스코 제2전시장', '행리단길']]]